<!--Group members Names : TN Sibanyoni,WS Mohapi,AR Sihlangu-->
<!--Student Numbers : 222019339 , 222029511,222085102-->
<!--SOD316 Group Assignment 1-->
<!--Due Date : 28 April 2024-->

@{
    ViewData["Title"] = "About Us";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
   
</head>
<body>
    <!-- Main Content Section -->
    <main class="about-main">
        <div class="text-box">
            <h3>
                About Us
            </h3>
            <p>
                Welcome to our website! We are a team of passionate individuals brought together by a shared vision to create meaningful online experiences. Let us introduce ourselves:
                <br />
                TN Sibanyoni - The Visionary:
                With a keen eye for innovation and a passion for user-centric design, TN Sibanyoni is the driving force behind our creative endeavors. As the visionary of our team, she brings forth fresh ideas and strategic insights to ensure that our website stands out in a crowded digital landscape.
                <br />
                AR Sihlangu - The Tech Guru:
                Meet our resident tech wizard,  AR Sihlangu . Armed with a wealth of technical expertise and a knack for problem-solving, he is the backbone of our development efforts. From coding to troubleshooting, he ensure that our website not only looks great but also functions seamlessly across all platforms.
                <br />
                WS Mohapi - The Content Maestro:
                Last but certainly not least, we have WS Mohapi, our content maestro. With a way with words and a passion for storytelling, she are responsible for crafting compelling content that engages and resonates with our audience. From blog posts to social media updates, she ensures that our message is clear, consistent, and captivating.
                <br />
                Together, we form a dynamic team dedicated to bringing our collective vision to life. With our unique blend of skills, creativity, and collaboration, we are committed to delivering an exceptional online experience that leaves a lasting impression.
                <br />
                Thank you for visiting our website, and we hope you enjoy exploring what we have to offer!
            </p>
        </div>
 
           <br />
           <!--Adverts-->
          <center>  <h1> Student Life at CUT </h1></center>   
            <div class="card-group">
                <div class="card">
                    <img src="~/images/grad.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">
                        2021-2022 SRC Residence and Accommodation Officer
                        
                    </h5>
                    <p class="card-text">
                        Mr Bongani Radebe, 2021/2022, SRC: Residence and Accommodation Officer. He obtained his Diploma in Human Resource Management.

                    </p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/images/soccer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">2016: CUT Joined Varsity Sports League.</h5>
                    <p class="card-text"> Sport bursaries are awarded to promising sportsmen and sportswomen according to merit. Such bursaries are only awarded to individuals who participate in league sport in the name of CUT.</p>

                    </div>
                </div>
                <div class="card">
                    <img src="~/images/enactus.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Enactus CUT crowned Enactus South Africa Summer Action Challenge Champions</h5>
                    <p class="card-text">Enactus Summer Action Challenge aims to encourage Enactus Teams to utilise their summer breaks productively. The challenge equips teams with a detailed pack outlining actionable steps they can take during the summer holidays.  </p>

                    </div>
                </div>
                <div class="card">
                    <img src="~/images/sabc.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">
                        SABC Programme Manager
                        
                    </h5>
                    <p class="card-text">SABC Programme Manager, Ms Mannini Nyokong (right) came with family to support her daughter, Reitumetse Nyokong who graduated her Post graduate Diploma in Media Studies-Cum Laude. With them is from left, Mr Makgathane Nyokong (Dad) and Kgaladi Nyokong (brother).  </p>
                    </div>
                </div>
            </div>
    </main> 
</body>